<ion-header>
	<ion-navbar>
		<ion-title>User Settings</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<ion-list>
		<ion-list-header>
			Profile
		</ion-list-header>
		<ion-item>
			<ion-label>Username</ion-label>
			<ion-input disabled value="{{(athlete | async)?.username}}">
			</ion-input>
		</ion-item>
		<ion-item>
			<ion-label>Name</ion-label>
			<ion-input [(ngModel)]="athlete.name" value="{{(athlete | async)?.name}}" (blur)="updateName()">
			</ion-input>
		</ion-item>
		<ion-item>
			<ion-label>Team</ion-label>
			<ion-input [(ngModel)]="athlete.team" value="{{(athlete | async)?.team}}" (blur)="updateTeam()">
			</ion-input>
		</ion-item>
	</ion-list>
	<ion-list>
		<ion-list-header>
			Workout Settings
		</ion-list-header>
		<ion-item>
			<ion-label>Units</ion-label>
			<ion-select [(ngModel)]="athlete.units" (ionChange)="changeUnits()">
				<ion-option value="Imperial" checked="true">Imperial</ion-option>
				<ion-option value="Metric">Metric</ion-option>
			</ion-select>
		</ion-item>
	</ion-list>
</ion-content>