<ion-card class="workout-card">
	<ion-card-content >
		<h2 class="card-title">
			{{workout.name}}
		</h2>
		<p>
			{{workout.description}}
		</p>
	</ion-card-content>
	<!-- <ion-list>
		<ion-item>
			<ion-icon item-left name="medal"></ion-icon>
			<h3>Andrew Cole</h3>
			<h4 padding item-right>110s</h4>
			<ion-icon item-right name="arrow-forward"></ion-icon>
		</ion-item>
		<ion-item>
			<h3>Todd Wise</h3>
			<h4 padding item-right>115s</h4>
			<ion-icon item-right name="arrow-forward"></ion-icon>
		</ion-item>		
		<ion-item>
			<h3>Micheal Johnson</h3>
			<h4 padding item-right>120s</h4>
			<ion-icon item-right name="arrow-forward"></ion-icon>
		</ion-item>
	</ion-list>
    -->
	<ion-row>
		<ion-col>
			<button clear small (click)="like($event, property)">
				<ion-icon name="thumbs-up"></ion-icon>
				Like
			</button>
		</ion-col>
		<ion-col>
			<button clear small (click)="favorite($event, property)">
				<ion-icon name="star"></ion-icon>
				Favorite
			</button>
		</ion-col>
		<ion-col>
			<button clear small (click)="addResult($event, property)">
				<ion-icon name="ion-plus"></ion-icon>
				Add Result
			</button>
		</ion-col>
	</ion-row>
</ion-card>