
<ion-content class="content">
    <div padding class="login" *ngIf="!createAccount">
        <h1 class="title">Use Fittist, Get Fitter</h1>
        <form #loginCreds="ngForm" class="login-form">
            <ion-item class="username">
                <ion-label>Username</ion-label>
                <ion-input type="text" ngControl="email"></ion-input>
            </ion-item>
            <ion-item class="password">
                <ion-label>Password</ion-label>
                <ion-input type="password" ngControl="password"></ion-input>
            </ion-item>

            <div padding class="login-button">
                <button block (click)="login(loginCreds.value, $event)">Login</button>
                <p>Don't have an account already? </p>
                <button block (click)="create($event)">Create Account</button>
            </div>
            <div padding>
                <p *ngIf="error" class="error">Error:&nbsp;{{ error.code }}</p>
            </div>
        </form>
    </div>
    <div padding class="createAccount" *ngIf="createAccount">
        <form #accountCreds="ngForm" class="account-form">
        <h1 class="title">Create an Account</h1>
        <ion-item class="username">
            <ion-label>Name</ion-label>
            <ion-input type="text" ngControl="name"></ion-input>
        </ion-item>
        <ion-item class="username">
            <ion-label>Team</ion-label>
            <ion-input type="text" ngControl="name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Username</ion-label>
            <ion-input type="text" ngControl="email"></ion-input>
        </ion-item>
        <ion-item class="password">
            <ion-label>Password</ion-label>
            <ion-input type="password" ngControl="password"></ion-input>
        </ion-item>
        <div padding>
        <button block (click)="registerUser(accountCreds.value, $event)">Create Account
        </button>
        </div>
        <div padding>
            <p *ngIf="error" class="error">Error:&nbsp;{{ error.code }}</p>
        </div>
        </form>
    </div>
</ion-content>