.login {
	text-align: center;
	margin-top: 100px;
	background: rgba(255,255,255,0.8);
	border-radius: 5px 5px;
	margin-left: 10px;
	margin-right: 10px;
	overflow: hidden;
  /* -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px); */
}
.title {
	color: #696969;
}
.username {
	border-radius: 5px 5px 0px 0px;
}
.password {
	border-radius: 0px 0px 5px 5px;
}

.createAccount {
	text-align: center;
	margin-top: 100px;
	background: rgba(255,255,255,0.8);
	border-radius: 5px 5px;
	margin-left: 10px;
	margin-right: 10px;
}

.content:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  
  display: block;
  background: url('../../img/cropped-jordan-comp.png') no-repeat fixed center;
  background-size: 200% auto;
  width: 100%;
  height: 100%;
}
.content {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 0;
}