.floating-action {
	bottom: 75px;
	z-index: 1;
}
.floating-option {
	bottom: 145px;
	width: 40px;
	height: 40px;
	right: 24px;
	z-index: 1;
}
.option-label {
	z-index: 1;
	position: absolute;
	bottom: 155px;
	border-radius: 5px;
	background: rgba(51, 35, 35, 0.8);
	color: white;
	padding: 5px;
	width: 100px;
	text-align: center;
	right: 72px;
}
ion-tabbar {
	background: map-get($colors, primary);
	border-top: 0px;
}
.tab-button[aria-selected=true]{
	color: white;
}