<!-- <div style="z-index: 999;">
	<div *ngIf="showMenu">
		<div class="option-label">
			<label class="label">Add Workout</label>
		</div>
		<button *ngIf="showMenu" fab fab-right class="floating-option" (click)="createWorkout()">
			<ion-icon name="medal"></ion-icon>
		</button>
	</div>
	<button fab fab-right class="floating-action" (click)="addMenu()">
		<ion-icon name="add"></ion-icon>
	</button>
</div> Removing FAB For now-->
<ion-tabs>
  <ion-tab [root]="tab1Root" id="Home" tabIcon="pulse"></ion-tab>
  <ion-tab [root]="tab2Root" id="Workouts" tabIcon="search"></ion-tab>
  <ion-tab [root]="tab3Root" id="Team" tabIcon="calendar"></ion-tab>
  <ion-tab [root]="tab4Root" id="Movements" tabIcon="walk"></ion-tab>
  <ion-tab [root]="tab5Root" id="Me" tabIcon="person"></ion-tab>
</ion-tabs>